
div.content {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

div.date-form {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
    min-height: 200px;
    color: #333;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

h1.date-form-header {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 50px;
}

/*div.date-form label {*/
/*    color: yellow;*/
/*}*/
form#travel-date-form {
    height: 100%;
    width: 80%;
    margin: 0 auto;

}

/*div.date-form-group {*/
/*    margin: 0 30px;*/
/*    width: 30vw;*/
/*}*/
input.date-input {
    display: inline-block;
    height: 40px;
    width: 90%;
    margin-left: 20px;
    padding: 0 20px;
    background-color: transparent;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
    transition: .5s;
    color: #333;
}

#travel-date-form label {
    display: block;
    font-size: 16px;
    padding-left: 20px;
}

input.date-input::placeholder {
    color: #333;
}

input.date-input:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
}

/* center vertical hand horizontal submit btn */
div.btn-submit-wrapper {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chek-availability-btn {
    border: none;
    background-color: #6c5ce7;
    color: #fff;
    font-size: 1.2em;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .7);
    transition: .5s;
    transform: translateY(-5px);

}

.chek-availability-btn:hover {
    background-color: #d63031;
    transform: translateY(-10px);
}

@media only screen and (max-width: 992px) {
    #travel-date-form input {
        margin: 20px 10px;
        width: 100%;
    }

    #travel-date-form label {
        width: 200px;
        font-size: 20px;
    }
}

/* tour guide */
div#tourguide-container {
    background: #f2f2f2;
    margin-top: 0;
    padding-bottom: 50px;
    padding-top: 20px;
}





/* hdv slide show */
#slider {
    width: 80vw;
    margin: 20px auto;
}

#slider .item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 360px;
    height: 650px;
    transition: .5s;
    background: #fff;
    transition: .5s;
    position: relative;
}

.box:hover {
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.15);
}


.box .box-img {
    width: 100%;
    height: 360px;
    overflow: hidden;

}

.box .box-img img {
    width: 100%;
    height: 100%;
    transition: 1s;
}

.box:hover .box-img img {
    transform: scale(1.2);
}
.box-content {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.general-info {
    width: 100%;

    padding: 5px 0;
    height: 80px;
    text-align: center;
    position: absolute;
    top: 360px;
    transform: translateY(-100%);
    left: 0;
    color: #fff;
    background-color: rgba(0, 0 , 0, .4);
}
.box-content h3.name {
    font-size: 30px;

    font-weight: 500;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.price{
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}
.box-content div.description-container {
    font-weight: 300;
    font-size: 16px;
    margin: 20px 0 10px;
    width: 100%;
    height: 76px;
    padding: 5px 5px;
    text-align: center;
    /*overflow: hidden;*/

}
p.description {
    width: 100%;
    height: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.box-content ul {
    margin-top: 20px;
    text-align: left;
    padding-left: 48px;
}
.box-content ul li {
    margin: 10px 0;

}
.detail-btn {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #111;
    border: 2px solid black;
    transition: .5s;
    font-size: 16px;

}
.detail-btn:hover, .detail-btn:link,.detail-btn:visited {
    text-decoration: none;
}

.detail-btn:hover {
    background-color: #148e14;
    border-color: #148e14;
    color: #fff;
}
/* about us */
div#about-us {
    margin-top: 50px;
    width: 100%;
}

div.about-us-content {
    font-size: 18px;
    color: #333;
    font-weight: 300;
    padding-right: 50px;
    line-height: 1.6;
    width: 80%;
    margin: 0 auto;
}

div.about-us-content p {
    margin-bottom: 30px;
}



/* about us image */
div.about-us-image-container {
    position: relative;
    height: 425px;
}

div.about-us-image-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

div.about-us-image-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

div.about-us-image-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* hide left and right about us image when scrren <= 992 px */
@media only screen and (max-width: 992px) {
    div.about-us-image-left {
        display: none;
    }

    div.about-us-image-center {
        width: 80%;
        margin: 0 auto;
    }

    div.about-us-image-center img {
        width: 100%;
    }

    div.about-us-image-right {
        display: none;
    }
}

/* events */
div#events {
    width: 100%;
    margin-top: 50px;
}

#event-slider .item {
    margin: 0 10px;
}

.event-item {
    position: relative;
    height: 480px;
    transition: .5s;
}

.event-item-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.event-item .event-item-img img {
    transition: .5s;
}

.event-item:hover .event-item-img img {
    transform: scale(1.2);
}

.event-item .event-item-content {
    text-align: center;
    color: white;
    width: 100%;
    height: 20%;
    position: absolute;
    z-index: 200;
    bottom: 20px;
}


.event-item .event-item-content h3 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 700;
    margin-top: 15px;
}

div#location {
    width: 100%;
    margin-top: 50px;

}

div#location iframe {
    width: 100%;
}
label {
    width: 100%;
}

#destination {
 height: 40px;
}
