.content {
    width: 100%;
    margin-top: 30px;
}

.box {
    width: 100%;
    height: 600px;
    padding: 10px;
    margin-bottom: 30px;

    box-sizing: border-box;

    position: relative;
}

.box-img {
    height: 300px;
    overflow: hidden;
    margin-bottom: 30px;
}

.box-img img {
    width: 100%;
    height: 100%;
    transition: .5s;
}

.box-img:hover img {
    transform: scale(1.1);
}

.box-title {
    font-family: "Poppins", Arial, sans-serif;
    margin-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
    margin-left: 20px;
}

.box-content {
    padding-bottom: 20px;

}

.box-content p {
    padding-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 400;
    line-height: 1.5em;
    font-size: 14px;

}

.box-content ul {
    width: 100%;
    padding-left: 20px;

}

.box-content ul li {
    margin: 3px 10px;
    font-weight: 500;
    padding-left: 10px;
}

.bold {
    font-weight: bold;
}

.box-bottom {
    width: 100%;
    position: absolute;
    bottom: 10px;
    height: 60px;
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    line-height: 60px;
}

.box-bottom .detail-btn, .detail-btn:link, .detail-btn:visited {
    float: right;
    display: inline-block;
    height: 40px;
    background-color: #0B792F;
    width: 140px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    margin-top: 10px;
    transition: .5s;
    text-decoration: none;
}

.box-bottom .detail-btn:hover {
    text-decoration: none;
    color: #0B792F;
    border: 2px solid #0B792F;
    background: transparent;
}

.box-bottom .price-box {
    float: left;
}

.price {
    display: inline-block;
    color: #898989;
    font-size: 14px;
    line-height: 1;

}

.amount {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    color: #333333;
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
}

/*style the page pagnition*/
ul.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.page-item .page-link {
    border: none;
    color: #444444;
    font-weight: bold;
    font-size: 15px;

}


.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: #148e14;
    cursor: default;
    background-color: transparent;
    border-color: transparent;
}


.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    background-color: transparent;
    color: #148e14;
    cursor: pointer;
}
