.content {
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/img/background/Slider-2.jpg") rgba(0, 0, 0, .4);
    background-blend-mode: multiply;
}

form label {
    color: #fff;
}

h1.form-title {
    font-size: 24px;
    border-bottom: 3px solid #0B792F;
    padding-bottom: 20px;
    display: block;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    width: 50%;
    text-align: center;
    margin-bottom: 30px;
}

.submit-btn {
    display: block;
    width: 150px;
    margin: 10px auto;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
}

.gender-container {
    color: white;
    margin-top: 30px;
    text-align: center;
    padding-right: 50px;
}
