.content {
    width: 100%;
}

#book-form {
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #E4E4E4;
}

.book-img-container {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-img-container .book-img {
    height: 500px;
    position: relative;
}

.book-img .tour-guide-name {
    height: 50px;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    color: white;
}
.book-img img {
    height: 100%;
}

.book-form-container {

    background: #F1F1F1;
    height: 500px;
}
@media screen and (max-width: 768px) {
    .book-form-container {
        margin-top: 20px;
    }
}
.price-container {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #E4E4E4;
    text-align: center;
    font-size: 40px;
    line-height: 100px;
}

.book-form {
    padding: 20px;
    width: 100%;
}
.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    height: calc((400px - 20px * 4) / 6);
    border-bottom: 1px solid #E4E4E4;
}

.input-wrapper label {
    display: block;
    font-weight: bold;
    font-size: 12px;
    color: #333333;
    text-transform: uppercase;
    width: 150px;
}

.input-wrapper input {
    display: inline-block;
    border-radius: 0;
    border: none;
    outline: none;
    width: 250px;
    padding-left: 20px;
    height: 30px;
    line-height: 30px;
    font-weight: 300;
}
.input-wrapper input:focus {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .5);
}
input.book-btn {
    background: #8E7037;
    height: 50px;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    transition: .5s;
}

input.book-btn:hover {
    border: 2px solid #8E7037;
    background-color: #fff;
    color: #333;
}
#tour-guide-detail {
    padding-bottom: 50px;
    border-bottom: 1px solid #E4E4E4;
}

.detail-tab-link-container {
    width: 100%;
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 20px;
    border-right: 1px solid #E4E4E4;
}

.detail-tab-link-container li {
    display: block;
    width:90%;
    height: 70px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    color: #111;
    text-align: left;
    padding-left: 20px;
    line-height: 70px;
    border-bottom: 2px solid #E4E4E4;
}

.detail-tab-link-container li::after {
    content: "";
    width: 0;
    height: 2px;
    background: #8E7037;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: .5s;
}

.detail-tab-link-container li:hover::after{
    width: 50%;
}
/*active */
.detail-tab-link-container li.active::after{
    width: 50%;
}


.detail-tab-link-container li a.detail-tab-link-item {
    color: #111;
    transition: .5s;
    width: 100%;
    height: 100%;
    display: inline-block;

}
.detail-tab-link-container li:hover a.detail-tab-link-item {
    color: #8E7037;
    text-decoration: none;
}
.detail-tab-link-container li.active a.detail-tab-link-item {
    color: #8E7037;
    text-decoration: none;
}
a.detail-tab-link-item:hover, a.detail-tab-link-item:visited, a.detail-tab-link-item:link {
    text-decoration: none;
}

.tab-content {
    padding: 25px;
    font-size: 18px;
}

.tourguide-name {
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

.tourguide-option{
    padding-left: 24px;
    margin-top: 20px;
}

.tab-content {
    display: none;
}
#description {
    display: block;
}

.box {
    height: 600px;
    position: relative;
}
.box .box-img {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box .box-img img {
    height: 100%;
    transition: .5s;
}

.box-content {
    padding: 20px;
}
.box-name {
    font-weight: bold;
    width: 100%;
    text-align: center;
}
select {
    display: inline-block;
    border-radius: 0;
    border: none;
    outline: none;
    width: 250px;
    padding-left: 20px;
    height: 30px;
    line-height: 30px;
    font-weight: 300;
}

